[2018-06-03 23:35] jossmac opened #1 "Add "placement" property"
- `top-left`
- `top-center`
- `top-right`
- `bottom-left`
- `bottom-center`
- `bottom-right`

[2018-06-03 23:38] jossmac opened #2 "Support custom components"
Example API:

[code]

[2018-06-03 23:41] jossmac opened #3 "Support custom "autoDismiss" duration"
Allow declaration on the provider and the invocation:

[code]

[2018-06-04 04:11] jossmac opened #4 "Add callbacks for the add/remove methods"
Should return the relevant ID:

[code]

[2018-06-10 02:40] jossmac opened #6 "Add image to readme"
![react-toast-notifications](https://user-images.githubusercontent.com/2730833/41197727-5e0b4d2e-6cab-11e8-9d0d-873d1f8ebced.png)

[2018-06-10 02:46] #6 closed

[2018-08-15 04:58] tuan23 opened #7 "Not working on server side rendering"
Best toast component I've found!
Could you add support for server side rendering?

Thank you!

[2018-08-23 00:27] jossmac commented on #7
Consider the [window-or-global](https://www.npmjs.com/package/window-or-global) package

[2018-08-23 06:26] onyekaa opened #9 "Usage Question"
Hi, so I tried the demo, looks great, almost exactly what I want. I just have a question, because it's not clear in the docs: Must the notifying block of code always be wrapped with `withToastManager`? I ask because, in a situation where say, I want an imported function to return a toast if successful, like so:

[code]
Once I wrap the function in the `withToastManager` the function stops working c

[2018-08-27 00:42] jossmac commented on #9
Hi @onyekaa,

The `withToastManager` is a [higer-order component](https://reactjs.org/docs/higher-order-components.html), which we use to augment a given component by providing the toast manager's methods as props, via [`context`](https://reactjs.org/docs/context.html). You're getting errors because the function is expecting a component as its only argument.

You could achieve something similar to

[2018-08-27 00:42] #9 closed

[2018-09-09 15:36] klaaz0r opened #11 "Custom theme/appearance"
I love using the toast but was wondering if it is possible to theme the toasts, creating an custom toast is a bit overkill but something to set the default appearances on the base toast would be great!

So the `ToastProvider` would take `appearances` prop,
[code]

[2018-09-20 02:56] jossmac commented on #11
@klaaz0r I hear where you're coming from, but I've been down that path before and it only leads to heartache. What if the consumer wants and different font size? How about padding, where should that padding be applied; the wrapper, just the content?

As a maintainer you can tie yourself in knots trying to meet everyone's needs, whilst constantly increasing the complexity of the lib.

Sorry mate, i

[2018-09-20 02:56] #11 closed

[2018-11-03 15:54] vcanales opened #14 "Issue when placed next to a fixed header"
Thanks for the awesome library!

I've been having trouble placing it next to a fixed header; if said header has a `z-index` other than `auto`, a `top-*` toast shows up under it. Perhaps we could allow either `classNames` or `css` prop to be passed in to deal with custom positioning?

[2018-11-04 18:47] fc opened #15 "Bundle size is 184kb"
The dist directory is 184kb although I imagine it could be much smaller with optimizations.

Since you are already using webpack, you could use that so it can get minified (it uses uglify by default).

Additionally, you can use webpack visualizer to find any other potential optimizations:
https://chrisbateman.github.io/webpack-visualizer/

I got it down to 116KB with this generic webpack config:
[

[2018-11-06 23:27] fc opened #17 "Export ToastContainer and DefaultToast"
Rather then creating a complete replacement of the default toast component I would rather be able to do something like this:

MyToast.js
[code]

[2018-11-10 00:48] minipai opened #19 "appearance's document?"
The best react toast library 👍

I can not find the detail of `option.appearance`, seem it's required and will break if not provided.

[2018-11-19 20:37] fc commented on #19
I'm guessing it fails here:
https://github.com/jossmac/react-toast-notifications/blob/master/src/ToastElement.js#L147

I think a fix would be set a default here:
https://github.com/jossmac/react-toast-notifications/blob/master/src/ToastProvider.js#L87

[2018-11-26 14:29] JayV30 commented on #14
Just from a quick look at the components -- it appears this be accomplished by just destructruring {...rest} as a prop in ToastContainer and then applying ...rest to the returned div? Then we could pass in style, className, etc... Or am I missing something?

Unfortunately don't currently have time to test and submit a pull request. Would this even be an appropriate solution?

[2018-11-26 14:33] vcanales commented on #14
Exactly my concern, I'd like to get @jossmac's input. I have time for a PR if this is an acceptable solution.

[2018-12-04 22:17] sdubrez commented on #14
Any updates ?

[2018-12-17 05:49] effectiveduck commented on #14
Had this same issue, in the end we just replaced the ToastContainer with one with the styles we needed.

`<ToastProvider components={{ ToastContainer }}>`

Definitely not ideal but works for now.

[2019-01-09 16:36] MBach opened #20 "Support new Hook system"
Hi,
Thank you for this very useful library. Do you plan to support hooks in the future? I'm writing an App which uses both classes and hooks, and I have to do some "props drilling" when I want to display a toast sometimes (in Hook functions).

https://reactjs.org/docs/hooks-overview.html

Like:
[code]

[2019-01-10 18:02] LMulvey opened #21 "onDismiss overrides default onDismiss behaviour"
**Expected Result**
Passing in the `onDismiss` function would be treated as a "EventHook" fired when the toast is removed/dismissed allowing us to modify external state, i.e, change a route or fire off an analytics event.

**Actual Result**
When passing the `onDismiss` prop/option to a `toastManager.add` call, the passed-in prop overrides the internal behaviour entirely.

This may very well have b

[2019-01-20 13:15] crazyrobbin commented on #14
Change the css of class

add margin-top:50px;
It will work now

[2019-01-20 15:10] vcanales commented on #14
This is not sustainable, as the hash on the class would change between versions of the lib.

[2019-01-22 10:09] GitHub1396 opened #23 "Uncaught TypeError: Cannot read property 'bg' of undefined"
Hi,
I am using this library and facing an error while clicking on button Toasty.

import React, { Component } from 'react';
import {HomeWithToast} from './Home'
import { ToastConsumer, ToastProvider } from 'react-toast-notifications';
class App extends Component {
  render() {
    return (

      <ToastProvider>
      <HomeWithToast />

      {/* or if render props are more your speed */}
      <T

[2019-01-22 17:32] Stan-Che commented on #23
add `{ appearance: 'info' }` or any other appearance option as a second argument to `add` function

[2019-01-23 05:21] jossmac commented on #15
Hey, thanks for looking into this @fc

While those numbers look impressive, I'm not sure what the actual gain would be for doing this. What I mean is that it's not like you'd ship an app to production without minifying, right? This lib will just be part of your source.

I'd like to separate the styled components (emotion) out somehow, so if people are replacing them with their own, they don't pay

[2019-01-23 05:51] jossmac commented on #14
Cheers @effectiveduck, that's the way to do it!

Oh, that's not good 😞

* * *

How about a `placementOffset` property on the provider? It could be a tuple that reflects the `placement` coordinates. A value of `[200, 10]` and a placement of `top-right` would apply a 200px offset to the top, and a 10px offset to the right of the container. The second argument would likely be ignored for the `*-cente

[2019-01-23 06:07] fc commented on #17
I did make a pr, it is linked in this thread.

[2019-01-23 06:11] jossmac commented on #19
Thanks @fc, though `appearance` is unique to the implementation of that styled component. If the consumer is using the default components an appearance is expected --> [that's in the docs](https://github.com/jossmac/react-toast-notifications#use). Should I call it out another way?

@minipai I may be missing something but I think you just need to amend your call:

[code]

[2019-01-23 06:14] jossmac commented on #17
Ugh, sorry mate. Thank you for that,!

[2019-01-23 06:14] #17 closed

[2019-01-23 06:18] jossmac commented on #20
Yeah, I spiked that a while ago -- you can check out the [CodeSandbox](https://codesandbox.io/s/71q1xvjnx).

I'm pretty time poor at the moment, so I probably won't get around to the full implementation in the near future. A PR would be very welcome 🙂

[2019-01-23 16:30] LMulvey commented on #21
That is exactly the case! I'll work on it over the next little while and get a PR in 😄

[2019-01-23 23:49] minipai commented on #19
I guess `appearance` is one of the <b>Toast Props</b>, so could be listed in the table?
![screen shot 2019-01-24 at 10 41 16 am](https://user-images.githubusercontent.com/239570/51644548-9ed01980-1fc4-11e9-9079-0b4a83f9a5dd.png)
If that's correct I can make PR for it.

[2019-01-23 23:49] jossmac commented on #14
Alternatively I could put together styles API, similar to [what we've done for react-select](https://react-select.com/styles). This would also solve potential future issues, like z-index.

I think this is preferable. It would look something like:

[code]

[2019-01-24 00:19] vcanales commented on #14
I would agree that this is the way to go.

[2019-01-28 22:09] jossmac commented on #19
@minipai that'd be great, thank you!

[2019-01-30 02:28] rscotten opened #24 "Add TypeScript definition file"
Hello @jossmac,

Great job on the library.  The toast notifications are the most beautiful looking ones I've seen.

Are there any plans to add a TypeScript definition file?

[2019-01-30 06:52] effectiveduck commented on #14
Sorry I feel like I should clarify. We had to copy the default ToastContainer from the source (since we liked the default style), add the styles we needed (just z-index) and set it is as the new ToastContainer. It was a bit much just to apply a z-index, which is why...

Sounds great!

[2019-02-01 22:41] jossmac commented on #24
Hi @rscotten,

Thanks for the kind words! I don't use TypeScript but would be happy to check out a PR 🙂

Cheers

[2019-02-05 22:33] ashwhall opened #26 "Publish latest version to npm"
The version on npm is from 5 months ago, and doesn't have the changes from #17
Can the new version please be pushed to npm?

[2019-02-07 17:06] blumendorf opened #27 "DefaultToast not exported?"
There seems to be an issue with DefaultToast in the latest version.

[code]

[2019-02-08 19:55] spyshower opened #28 "Is it possible to add audio?"
I think it would be really cool if we could play audio as well (optionally).

[2019-02-11 01:46] ashwhall commented on #27
I believe this is due to the latest version not being pushed to npm. Same problem as issue #26

[2019-02-22 06:40] n1th1l opened #30 "Enhancement: pauseOnHover prop needed"
Hey, I really like this library, could you guys provide a prop to pause the notification so to read a notification with more content on hovering, I don't want to change the dismiss time

[2019-02-26 22:09] ashwhall commented on #26
@jossmac Can you please do this? I'd really like to use `DefaultToast`

[2019-03-12 15:41] shadialtarsha commented on #21
Hello,
Any workaround for dismissing the toast pragmatically?

[2019-03-13 00:31] LMulvey commented on #21
@shadialtarsha  - this issue and the PR I'm going to submit basically fires your `onDismiss` prop _before_ firing the internal one. It could be used for firing analytics services when a toast is dismissed–stuff like that.

To achieve what you'd want to do, you'd have to use the callback provided by the `ToastManager.add` function - `add(content, options, cb)`  which receives the toastId as a param

[2019-03-19 05:51] GCDeveloper commented on #26
Same

[2019-04-04 17:26] ChrisLincoln commented on #26
Yep.

[2019-04-11 04:58] xain786 opened #34 "Installation with npm"
Is there any way to install this package through npm?

[2019-04-18 03:57] #15 closed

[2019-04-18 05:33] #21 closed

[2019-04-18 05:53] jossmac commented on #34
[code]

[2019-04-18 05:53] #34 closed

[2019-04-18 06:00] jossmac commented on #28
The `add` method takes a callback:

[code]

Maybe checkout the [Web Audio API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API).

[2019-04-18 06:00] #28 closed

[2019-04-18 06:00] jossmac commented on #27
Sorry about that. Sorted in latest.

[2019-04-18 06:00] #27 closed

[2019-04-18 06:01] jossmac commented on #26
Sorry about that. Sorted in latest.

[2019-04-18 06:01] #26 closed

[2019-04-18 06:02] jossmac commented on #24
@rscotten closing due to inactivity. Please comment if you'd like it reopened.

[2019-04-18 06:02] #24 closed

[2019-04-18 10:42] #30 closed

[2019-04-19 13:21] richmilton opened #35 "autoDismiss needs to be set to true"
May be an omission in readme or a quirk in my app - I had to set autoDismiss prop to true in ToastProvider wrapper to get timeout to work (prop only mentioned in readme for Toast component). Thanks for lib! Hope this is useful.

[2019-05-02 15:52] nagey commented on #20
any update on when we might expect this in the main package? Thanks, love this implementation of toasts!

[2019-05-03 15:58] ConnorTCM opened #39 "Custom ToastContainer component not functioning as expected"
As seems to be the case with a few people, I'm struggling to style the ToastContainer. After reading the docs and [this issue](https://github.com/jossmac/react-toast-notifications/issues/14) I was under the impression that I could provide a custom ToastContainer component which I have done, but the issue I have now is that when triggering a notification the toast container isn't populated. If I do

[2019-05-05 23:58] MarkLyck commented on #39
Have the same issue :/

[2019-06-03 20:39] nate456789 commented on #39
I would just like to move it from the default position of upper right and I am have zero luck.
If anyone has and example code that would be nice

[2019-06-22 03:57] CraigInBrisbane commented on #35
I second this request. I was wondering why mine was staying until I clicked close. I'd suggest the same default for autoDismiss.

[2019-07-08 14:29] priteshjha4u commented on #39
@MarkLyck
In this lib (see docs), they have given flexibility to override `Toast` component, not the `ToastContainer`. Although technically we can override this also, as you are trying to do (not recommended). your code is not working because you are missing few important things in your custom `ToastContainer` component, here is is modified version of your `ToastContainer` component which should w

[2019-07-08 15:00] priteshjha4u opened #40 "Expose toast manager outside components scope."
Hi,

This is not an issue rather could be an enhancement. correct me if i am wrong, currently we can add toasts only inside a react component decorated with `withToastManager` (or using render props), which expose a prop `toastManager` in the given component. but sometimes we have a requirement to add toasts outside a react component/classes, for example, in a redux action, some service class, or

[2019-07-09 02:10] #20 closed

[2019-07-09 02:22] jossmac commented on #40
Hi @priteshjha4u,

I think that if a consumer needs to access toast methods outside of a react component then they should own the abstraction. I won't have enough context to create the right solution.

[2019-07-09 02:22] #40 closed

[2019-07-09 03:20] jossmac commented on #39
@nate456789 please [the documentation](https://github.com/jossmac/react-toast-notifications#toastprovider-props) for `placement`.

[2019-07-10 06:00] jossmac commented on #39
@ConnorTCM @MarkLyck after refactoring a bunch of stuff and upgrading to emotion@10, the default toast container now accepts styles however you'd like to provide them:

[code]

Checkout this CodeSandbox: https://codesandbox.io/s/toast-container-styles-duxs5

* * *

I'm afraid I can't afford the time right now to implement the solution described in #14, but I think this will be sufficient for most

[2019-07-10 06:00] #39 closed

[2019-07-10 06:03] jossmac commented on #39
Thank you for your response @priteshjha4u, that would have worked. Since refactoring, the consumer no-longer needs to understand  or implement "react-transition-group".

[2019-07-12 06:54] jossmac commented on #14
_Cross posting from #39_

* * *

After refactoring a bunch of stuff and upgrading to emotion@10, the default toast container now accepts styles however you'd like to provide them:

[code]

Checkout this CodeSandbox: https://codesandbox.io/s/toast-container-styles-duxs5

[2019-07-13 11:38] citypaul opened #44 "Allow consumers to inject any React Component as a toast in the add function"
Hello there,

Thanks for your great work on this library.

I've spent some time in work looking into what is currently out there in React world regarding toast components. I looked into quite a few of them, but none of them appeared to quite work for what I needed.

I am working with components built as part of a design system, so I really want to be able to just use a component I already have. Th

[2019-07-13 11:46] citypaul commented on #44
I'd be happy to look into this myself and perhaps issue a PR if you agree there's value in it. So long as we can agree on what the end API should look like. Let me know if you'd be interested in this.

[2019-07-13 11:59] citypaul commented on #39
People in this thread may find the solution I came up with here useful. It's working for me: https://github.com/jossmac/react-toast-notifications/issues/44

[2019-07-15 00:00] jossmac commented on #44
Hi @citypaul,

I think that you may have misunderstood the API. What you're suggesting above can be achieved with the current implementation. You would pass your component as the `Toast` to the provider:

[code]

The toast component is passed all config as props, so you can do whatever you want inside `ToastableFeedbackBlock`.

[code]

[2019-07-15 00:13] jossmac commented on #35
@richmilton @CraigInBrisbane  you must set the `autoDismiss` property in the config of each `add` call. The `ToastProvider` is only for common config like `autoDismissTimeout`.

If you're suggesting a bug where `autoDismiss` is only observed when passed to the provider could you please provide a reproduction in [CodeSandbox](https://codesandbox.io)?

[2019-07-17 12:11] citypaul commented on #44
@jossmac thank you for your response.

It wasn't quite clear to me that the config props were all passed on to the toast component like this, so it may be worth updating your docs to mention this explicitly?

I do think however that the change I'm talking about still has some value.

The reason I still think it's nicer is because it allows the consumer to inject different React components to be us

[2019-07-19 01:50] iamwmude opened #45 "How to make ToastContainer in top of all other components?"
Hi, I need to place the toast as top of all other components, there's only one way that modify css of source code, does it okay to access outer style to modify toast style?

[2019-07-23 06:47] iamwmude commented on #45
Hi, I need to place the toast as top of all other components, there's only one way that modify css of source code, does it okay to access outer style to modify toast style?

[2019-07-25 17:02] duncan-iaria commented on #14
This solution worked out great for me, thank you!

[2019-07-25 17:10] vcanales commented on #14
Perfect @jossmac, thank you!

[2019-07-25 17:11] #14 closed

[2019-07-29 01:52] #44 closed

[2019-07-29 01:53] #35 closed

[2019-07-29 01:57] jossmac commented on #45
You can replace the toast container:

[code]

[2019-07-29 01:57] #45 closed

[2019-07-29 13:28] raynox opened #46 "Cannot read property 'add' of undefined"
Hi, I tried to use `useToasts` hook in Next.js but I get following error: `Cannot read property 'add' of undefined`, do you have any idea what is wrong with my code?

[code]

[2019-07-30 17:08] bntzio commented on #46
Yeah I'm having the same issue as well, will look further into it later in the day.

[2019-07-31 11:23] jossmac commented on #46
@raynox @bntzio thanks for letting me know. Could I could get some more info:

- which version of "react-toast-notifications" are you using?
- @bntzio are you also using Next.js, or some other SSR solution?

Would love a reproduction. I've tried sym-linking, but end up with the "[two versions of react](https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react)" issue.

[2019-08-01 08:49] bntzio commented on #46
@jossmac I'm not using next, just CRA, using `react-toast-notifications` v2.2.1.

I've tried with the hooks version as well as with the HOC provider one.

[2019-08-01 09:13] lapongua commented on #46
I solved wrapping the component with <ToastProvider>

[code]

[2019-08-07 11:04] frandevel commented on #24
This would be highly recommended if you want users using Typescript to use the library. Thanks in advance for any effort on this topic

[2019-08-07 12:37] bradbarrow opened #48 "Replace existing toast / remove all toasts"
Hi there, thanks for the library it's super simple and flexible :)

I was wondering if you had any thoughts about some sort of "replaceable" toast, or a toast limit of 1, if you will.

The idea being that a user might perform many repetitive actions that result in a toast.
The toast is useful, but stacking lots of them on top of each other isn't necessary.
We'd like to `replaceToast()` in this cas

[2019-08-07 12:46] bradbarrow commented on #48
Similarly, any thoughts on a persistent toast, that you could update whilst it's open?

[2019-08-09 02:15] jossmac commented on #48
Hi @bradbarrow, thanks mate!

Yeah, I've thought about that a bit. Rather than increasing the API surface area with `replaceToast()`, I think it might be tidier to allow consumers to pass an `id` along with the toast options. Internally it'd store only unique toasts by id, so you could call `addToast()` all you like, but while the id remains the same, only one would appear to the user.

That could

[2019-08-09 05:49] jossmac commented on #46
@lapongua cheers mate! That's the solution.

To avoid this confusion in the future, i've added an error so the hook will now throw if it can't find its provider. You'll see something like:

[code]

[2019-08-09 05:49] #46 closed

[2019-08-10 23:19] jcmnunes opened #50 "Replace deprecated lifecycle method"
ToastProvider is using a deprecated lifecycle method (`componentWillReceiveProps`).
In React 17.x, only the UNSAFE_ name will work.

Consider renaming the method or use `componentDidUpdate` instead.

[2019-08-12 10:33] citypaul commented on #50
For a bit more context, the recent release of React `16.9.0` is causing the above error to be output in the console.

[2019-08-12 20:49] anz000 opened #51 "Add a link in the toast message"
As the title suggests, I want to add a link in a toast message.

For instance,
Looks-like: Please click here
Actual : Please click <a href="xyz> here </a>

And then the click on the link would go to the link.

What would be the easiest way to do this? Thanks.

[2019-08-13 20:40] jehugaleahsa opened #52 "Scroll bar appears on exit animation"
I'm noticing on Firefox and Chrome that a scrollbar appears momentarily during the exit animation. It's minor and barely noticeable, but probably worth pointing out anyway.

[2019-08-18 22:36] Emnalyeriar commented on #40
Hey @jossmac
I have a use case that might be related to this issue.
Is it possible to somehow addToast outside of components? With react hooks it can only be used inside a body of a function component.
In my case - I would like to display a toast from my axios error handler which is a separate utility function.

[2019-08-19 19:56] tafelito opened #53 "add placement to hook"
placement option doesn't seem to be working when using addToast hook. It does work if is set in the provider

[2019-08-21 07:52] jossmac commented on #53
That's correct, `placement` is [inherited from the provider](https://github.com/jossmac/react-toast-notifications#toast-props).

[2019-08-21 07:52] #53 closed

[2019-08-21 07:59] jossmac commented on #51
The [content of the toast accepts `$React.Node`](https://github.com/jossmac/react-toast-notifications#hook), which is often just a string.

[code]

[2019-08-21 07:59] #51 closed

[2019-08-21 08:00] jossmac commented on #50
@jcmnunes @citypaul I'm pretty busy at the moment, but happy to review your PR.

[2019-08-21 08:02] jossmac commented on #52
@jehugaleahsa are you on windows?

This is difficult for me to test, but I'd be happy to take a look at a PR.

[2019-08-21 08:03] jcmnunes commented on #50
Sure, I can have a look at that.

[2019-08-21 11:38] jehugaleahsa commented on #52
I honestly I'll just close the ticket. The project I'm working on has some pretty nasty components and I guarantee they're the real problem. Mysterious CSS issues abound.

[2019-08-21 11:38] #52 closed

[2019-08-21 22:55] jossmac commented on #52
Okay mate, if you need it re-opened just ping this thread with whatever you've discovered.

[2019-08-21 23:31] #50 closed

[2019-08-22 00:14] tafelito commented on #53
What if I don't want to use a custom Toast but I do want a different placement per notification?

[2019-08-22 06:11] jossmac commented on #53
That sounds strange. Could you give me some more context?

[2019-08-22 13:13] tafelito commented on #53
Let's say to simplify,  I have 2 types of messages, an error message and a success message. I want the error to be shown centered at the top of the screen and the success at the bottom right of the screen. So in that case I would want to set the placement in the addToast call

[2019-08-23 14:17] romulo94 opened #55 "is it possible use with redux?"
Can I call the toast with Saga?

[2019-08-28 15:06] ajshres opened #56 "toast instance not returned on add (withToastManager)"
Hi,
I was testing remove toast withToastManager but could not remove it. On further investigations, the add method does not return anything at all.

https://github.com/jossmac/react-toast-notifications/blob/master/src/ToastProvider.js#L84

I checked the code and the return statement for add is within another function, making the main function return nothing. Could you please at least return id so

[2019-08-29 23:43] cinnabarcaracal commented on #40
This project looks great but we cannot use it with our saga based architecture. It is not uncommon to use react in a way where components are thin (without much if any logic) while redux sagas (or thunks) handle the actual side effects of things like button presses. Exposing toast management functions so that they can be used in this way would open this project up to more people.

[2019-08-30 00:10] jossmac commented on #40
The implementation relies on context, so anything outside of the provider's tree won't have access.

Please see [alternatives](https://github.com/jossmac/react-toast-notifications#alternatives) or perhaps [npm](https://www.npmjs.com/search?q=keywords:toast).

[2019-08-30 00:15] jossmac commented on #51
@anz000 you may have to roll back to `<=1.5.0`, before hooks were introduced. Or upgrade your app's React dependency to `>16.8.0` (when hooks were introduced).

[2019-08-30 00:20] jossmac commented on #56
Hi @ajshres,

You can use the [third argument](https://github.com/jossmac/react-toast-notifications#hook) to `add` [which is a callback](https://github.com/jossmac/react-toast-notifications/blob/master/src/ToastProvider.js#L85) taking the `id` as it's only argument.

Returning the `id` from add might be a nice API, I'll have to see how that works with `setState` which is async. Will post here if t

[2019-08-30 00:22] jossmac commented on #55
Please see #40

[2019-08-30 00:22] #55 closed

[2019-08-30 00:25] cinnabarcaracal commented on #40
Not an implementation suggestion, but a potential workaround for anyone who needs to use this in their sagas and is willing to use a bit of a hack:

[code]

[code]

It works by adding a ref for the `ToastProvider` to the global `window` object, which you can then access from anywhere that has access to `window`.

[2019-08-30 00:37] jossmac commented on #40
This is nice @cinnabarcaracal, it's important for consumer's to own their abstraction. You could take that a little bit further to improve DX:

[code]

[2019-08-30 00:39] jossmac commented on #53
Sorry @tafelito, I don't think I can support that in a graceful way.

Please see [alternatives](https://github.com/jossmac/react-toast-notifications#alternatives) or perhaps [npm](https://www.npmjs.com/search?q=keywords:toast).

[2019-08-30 09:30] Emnalyeriar commented on #40
This isn't the most elegant solution but I created a Smart ToastContainer that listens for specific redux actions that are emited on http errors:
[code]
[code]
[code]

[2019-08-30 16:22] anz000 commented on #51
Just wanted to point out that neither works with toastManager.

[2019-08-31 06:31] ajshres commented on #56
Thanks @jossmac  this should work for now.
Will it work if you just return the id after the async setState. It should not actually affect any of the async nature of the function.

[code]
What do you think of it? Please let me know as well. Should not have much issue with this hack.

[2019-09-02 04:21] ctian1 opened #57 "Really difficult to hook into library"
for example:
- changing the default ToastContainer z-index requires a custom ToastContainer class to add a style prop
- making autoDismiss default requires a bunch of manipulation to override methods

[2019-09-03 20:36] kennycason commented on #24
I just ran into this error. I would also love to be able to use this in our project.

[2019-09-04 14:06] Vynlar commented on #57
I agree that having the ability to pass a default for `autoDismiss` to the provider itself would be very useful. My current workaround is to wrap the `useToasts` hook:
[code]

[2019-09-07 19:57] dboskovic commented on #24
I threw together a poor man's ts def just to move ahead.

[code]

[2019-09-11 07:31] donaldpipowitch commented on #24
Maybe it helps someone:

[code]

[2019-09-16 21:54] eberkund commented on #52
I am also having this issue (on Windows)

[2019-09-17 10:12] pavanmurapala opened #58 "Not able to import"
Could not find a declaration file for module 'react-toast-notifications'. 'c:/Users/pmurapala/Desktop/04-08-2019/frontend/node_modules/react-toast-notifications/dist/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-toast-notifications` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-toast-notifications';`ts(7016)
Could not find a declarat

[2019-09-17 10:18] elfico commented on #58
You beat me to it. Just trying out this library now and I got the same error.

[2019-09-17 11:50] pavanmurapala commented on #58
I think it wont work for react .JS files or what . I am not sure..  Need help team.

[2019-09-24 15:44] PJijin opened #60 "Adding custom css property to toast container"
I just want to adjust the z-index of the toast container. At now user fills data insides the modal box and the toast is not appearing properly. I am using useToasts() hook.

[2019-09-25 10:13] lukahartwig commented on #58
Your using this library in a typescript project but it doesn't have typescript declarations. You can either set the `noImplicitAny` in your `tsconfig.json` to `false` or follow the error message and add a declaration file somewhere in your project like this.

[code]

[2019-09-26 23:19] shrijan00003 commented on #60
having same issue, using with material-ui , toast appears beside the modal box.

[2019-09-27 09:19] nermand commented on #60
@PJijin  Exploring solutions for myself as well.
It seems this would work for your use-case: https://github.com/jossmac/react-toast-notifications/issues/45#issuecomment-515818086

[2019-09-27 15:58] PJijin commented on #60
@nermand  That works 🙌🏻🎉

[2019-09-27 15:58] #60 closed

[2019-09-29 10:40] deantheiceman opened #61 "autoDismissTimeout doesn't auto dismiss"
I'm using the ToastProvider and hooks

[code]

[code]

My toast doesn't disappear automatically. Any ideas?

[2019-10-01 07:57] Jaikant commented on #48
+1 for this feature

[2019-10-03 17:48] zouhenry commented on #61
```autoDismissTimeout={400}``` from ```<ToastProvider>``` won't dismiss your toasts. You'll still need to specify ```{autoDismiss:true}``` on each instance of ```addToast```.

[code]

[2019-10-09 14:59] nermand opened #62 "Production bundle throws a "Super expression must either be null or a function, not undefined" error"
I am using the library in one of my applications, which is built using create-react-app.
In development mode, everything works as expected.

When production build is executed, I got the following error in browser console:
`Super expression must either be null or a function, not undefined`, coming from this line (minified):
[code]
I 've tried several solutions within the code, none of it worked.
So

[2019-10-10 06:09] Jaikant commented on #48
I used this workaround:

[code]

[2019-10-10 14:27] nermand commented on #62
It seems the issue was on my side. I have a custom webpack process in place which was running uglify twice and that apparently broke only this library, among many I use.

I'll close the issue, does not seem to be specific nor expected in common use-case

[2019-10-10 14:27] #62 closed

[2019-10-22 08:55] geekdaniels opened #63 "Redux Implementation"
Hi, I really love your library it's superb but i am finding it hard to use, can you kindly give me some insights on how I would implement with redux. Thanks a bunch.

[2019-10-30 14:38] Vivek205 opened #64 "How to limit maximum number of toasts"
I don't find any option to provide limit for the max number of toasts. if there is any, please let know.

[2019-10-31 07:46] Vivek205 commented on #64
Achieved it through toast stack.
[code]

[2019-10-31 08:36] #64 closed

[2019-10-31 08:40] Vivek205 opened #66 "Toast should inherit autoDismiss from ToastProvider"
I need to set autoDismiss to true by default.
right now, I'm setting it explicitly whenever I call addToast. It is redundant.
It is better if the Toast could inherit autoDismiss in the same way it inherits the autoDismissTimeout from ToastProvider

[2019-11-06 20:05] Silverwolf90 opened #67 "Warning with StrictMode"
When using `<StrictMode>` the following appears:

[code]

[2019-11-06 21:14] elliottsj commented on #24
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40194

[2019-11-11 02:14] TrejoCode opened #68 "Change font family, font size."
Hi, how can I change the font, font size, background colors?

[2019-11-11 14:16] NeliHarbuzava commented on #67
I have this warning in console:
`Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedStateFromProps. Learn

[2019-11-14 19:41] avshyz opened #69 "Warning when using demo code with `pauseOnHover`"
I'm receiving
[code]
With the latest version.

[2019-11-20 14:30] nfabacus commented on #69
Hi, Avshyz

I had the same issue.  If you want it 'pauseOnHover' to be true, it is already default.  So, if you remove your prop 'pauseOnHover', you will no longer have the error.

In my case it was like below:

[code]
and just changed to
[code]

[2019-11-20 20:22] avshyz commented on #69
Ohhh, that's true!
Thanks a lot for that :)

[2019-11-20 20:22] #69 closed

[2019-11-21 12:05] Karlen92 opened #71 "How can I change appearance Icon ?"

[2019-11-22 09:03] jossmac commented on #68
@TrejoCode you can replace the `Toast` component with whatever you like https://github.com/jossmac/react-toast-notifications#replaceable-components

[2019-11-22 09:03] #68 closed

[2019-11-22 09:04] jossmac commented on #71
@Karlen92 you can replace the `Toast` component with whatever you like https://github.com/jossmac/react-toast-notifications#replaceable-components

[2019-11-22 09:04] #71 closed

[2019-11-22 09:07] jossmac commented on #58
This is not a TypeScript library. If someone would like to expose types pull requests are welcome.

[2019-11-22 09:07] #58 closed

[2019-11-22 09:12] jossmac commented on #67
@Silverwolf90 which version are you using?

Pretty sure [this lib is following the current best practice](https://github.com/jossmac/react-toast-notifications/blob/master/src/ToastProvider.js#L31) for React context.

[2019-11-22 09:25] jossmac commented on #66
@Vivek205 I had implemented this but was worried about unexpected effects in large scale applications. May I recommend exposing your own hook?

[code]

[2019-11-22 09:37] jossmac commented on #61
@deantheiceman please see [my response](https://github.com/jossmac/react-toast-notifications/issues/66#issuecomment-557458007) to #66

Closing this for now, but I am considering inheritance of the `autoDismiss` property.

[2019-11-22 09:37] #61 closed

[2019-11-22 09:51] jossmac commented on #57
@ctian1 @Vynlar It seems to be unanimous that `autoDismiss` should be inherited. I'll try to get onto that this weekend.

Regarding `z-index` on the container; I think the [current solution](https://github.com/jossmac/react-toast-notifications/issues/45#issuecomment-515818086) is reasonable for now. I would love to implement a styles API, similar to what Jed and I have done with [react-select](htt

[2019-11-22 10:16] jossmac commented on #66
Closing if favour of #57

[2019-11-22 10:16] #66 closed

[2019-11-22 11:00] Silverwolf90 commented on #67
Sorry I should have put more information. Currently using  `react@16.10.2` and `react-toast-notifications@2.2.5`.

But the issue is to do with the dependency on `react-transition-group`: https://github.com/reactjs/react-transition-group/issues/429

[2019-11-22 14:09] TrejoCode commented on #68
I wouldn't want to replace the Toast, just the font size and font

[2019-11-22 22:52] jossmac commented on #67
Okay great, so this will be resolved by #70

[2019-11-22 23:09] #67 closed

[2019-11-22 23:10] jossmac commented on #67
Available in `v2.2.6`

[2019-11-23 00:44] jossmac commented on #57
Resolved by #75

* * *

Available in `2.3.0`

* toasts will inherit `autoDismiss` from the provider
* add default z-index (`1000`) to the container
* add class names to default components

[2019-11-23 00:44] #57 closed

[2019-11-23 00:45] jossmac commented on #66
The `autoDismiss` property will be inherited from the provided since `2.3.0`

[2019-11-23 12:38] jossmac commented on #56
Closing in favour of #48

Please see [my comment](https://github.com/jossmac/react-toast-notifications/issues/48#issuecomment-519751525) regarding consumer controlled IDs.

[2019-11-23 12:38] #56 closed

[2019-11-23 12:47] jossmac commented on #63
Hi @geekdaniels, thank you for the kind words.

I think you're talking about access to the toast store outside of the react tree. Whilst not technically supported from this lib, there has been some discussion about it on #40

[2019-11-23 12:47] #63 closed

[2019-11-23 12:56] jossmac commented on #68
I've added class names to the toast element in `2.3.0` you could target those.

[2019-11-23 12:58] jossmac commented on #61
The `autoDismiss` property will be inherited from the provider since `2.3.0`

[2019-11-23 13:02] jossmac commented on #58
Please see #24, specifically [this comment](https://github.com/jossmac/react-toast-notifications/issues/24#issuecomment-550502984) for a DefinitelyTyped solution.

[2019-11-23 13:05] jossmac commented on #52
@eberkund difficult for me to test/address for Windows. Happy to look at a PR.

[2019-11-24 03:27] dy opened #76 "Parasite scollbar on fade away in windows"
https://gyazo.com/59c2b81baaa44fc106d1ca7027257156
At the very end, the disappearing items obtain a scrollbar there.

[2019-11-24 05:17] jossmac commented on #56
@ajshres the generated id is returned from the add method in #77

[2019-11-24 05:19] #48 closed

[2019-11-24 05:23] jossmac commented on #48
Changes described in #77 available in `2.4.0`.

[2019-11-24 05:24] jossmac commented on #48
@bradbarrow @Jaikant @tafelito Changes described in #77 available in `2.4.0`.

[2019-11-24 05:32] jossmac commented on #76
@dy I don't have a windows machine handy to diagnose or address this issue, but I'd be happy to take a look at a PR.

Related #52

[2019-12-05 06:31] THPubs commented on #76
I'm facing the same issue in Mac, Firefox.

[2019-12-16 12:22] qens opened #78 "Use outside the components"
Is there a way to use outside components?

[2019-12-18 18:06] mendeel commented on #76
Sounds like a simple "overflow: hidden" is missing but I haven't investigated anything.

[2019-12-24 20:27] Seanmclem commented on #76
I see it to on chrome/new-edge

[2019-12-26 17:23] charneykaye opened #80 "Tags/releases in git repository, for stability"
Without tags/releases in the github repository, there's a higher chance of regression bugs from ongoing development on your master branch polluting builds for anyone using the library.

[2019-12-30 21:32] Seanmclem commented on #76
@jossmac any issue with my current PR for this?

[2020-01-02 17:57] mathieutu opened #82 "Deprecated findDOMNode usage"
There are warnings from react-toast-notifications with react strict mode enabled. This shows all the deprecated methods used.

https://reactjs.org/docs/strict-mode.html#warning-about-deprecated-finddomnode-usage

[code]

Thanks,
Matt'

[2020-01-03 11:44] jsmrcaga opened #83 "Classes: add a className property or export the ToastElement component"
It would be perfect to have a custom class on the default toasts, to allow simple css modifications.

This property could be set as a setting on the provider for example. Another option would be to export the ToastElement component to allow the user to set it as a custom component with a custom className.

[2020-01-05 00:33] CSFlorin opened #84 "Is there anything like this for modals?"
I think this API would be immensely useful for modals, to be able to enqueue a modal that contains all the state needed to dismiss itself. Could even specify behavior like if enqueuing one when one is already shown, do you want to close the other one or stack it? I think this would be a great addition to this library or fork of it.

[2020-01-05 01:10] CSFlorin commented on #84
I went ahead a made myself a version of this. If people think it'd be useful, I'm happy to publish it.

[2020-01-05 05:37] #84 closed

[2020-01-10 00:10] jossmac commented on #83
Classname support was added in version `2.3.0` #75

[2020-01-10 00:10] #83 closed

[2020-01-10 00:17] jossmac commented on #82
Hi @mathieutu, could you tell me which version you're using?

There's no references to `findDOMNode` in the source, nor any dependencies that would employ that method.

[2020-01-10 00:27] jossmac commented on #78
Hi @qens, I'm afraid that this is very much a React solution, though you may find the thread on #40 helpful.

[2020-01-10 00:27] #78 closed

[2020-01-10 09:37] mathieutu commented on #82
v2.4.0

Found it! It comes from transition-group.

https://github.com/reactjs/react-transition-group/blob/616d95d2c48d1984b15730526e83fd39068fc181/src/Transition.js#L213

And here the PR which will remove it. https://github.com/reactjs/react-transition-group/pull/559

[2020-01-10 11:49] jsmrcaga commented on #83
Thanks!

[2020-01-11 22:22] jakinov opened #85 "Does this work with older versions of react without hooks?"
Does this work with older versions of react without hooks?

[2020-01-12 03:49] burtonator opened #86 "Call directly without being in a component?"
Is there a way to call this directly without it being used in a component?

I have some plain java functions that can reach out and create toasts and I want to just replace it with this.

The only way I could think of is to create a wrapper and inject it , then have a function that calls it indirectly via a ref or something (thinking out loud).

Would be nice if there was just a static addToast fu

[2020-01-15 23:27] kjr247 opened #87 "addToast causes entire application to unmount and rerender"
In my react web application when the addToast is fired it causes everything to rerender.
It looks like all components in the application are unmounting.

This causes all components using component state and hooks to lose their data. These components are fetching data, and refetching data causing long loading times.

Is this a bug or are we doing something wrong? I couldn't find anything in the exa

[2020-01-16 01:34] kjr247 commented on #87
I figured it out finally! The thing is that Routing contained a RouteGaurd component that passed withToastManager to toastManager.add(...). This was causing the entire tree to unmount for some reason. I found this by monkeypatching/editing the package to concole.log the onDismiss, and it showed a remove method. I made a couple of logical jumps to realize something else was updating values that wer

[2020-01-16 01:34] #87 closed

[2020-01-22 10:08] DominicTobias-b1 opened #88 "Typescript error for custom attributes"
Hey,

Here you're enforcing that ToastProps should only equal what's specified: https://github.com/jossmac/react-toast-notifications/blob/master/index.d.ts#L9

But then you are spreading other props on the component: https://github.com/jossmac/react-toast-notifications/blob/55c4bf1f9397995323c1d8feef7570ce5672a6b2/src/ToastElement.js#L265

At the moment this will fail:

[code]

You should allow an

[2020-01-22 16:52] kjr247 commented on #87
Well it turns out this broke the call after all. The RouteGaurd component is a class component, and thus cannot call this method. const { addToast } = useToasts();

error message:
Unhandled Rejection (Invariant Violation): Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching version

[2020-01-23 16:18] lapongua opened #89 "Alternative components to the ToastProvider"
Hello, I'm getting this error when I want to customize my ToastProvider using MyCustomToast:
`The useToasts hook must be called from a descendent of the ToastProvider`.

[code]

[2020-01-27 09:14] gokuls23 commented on #85
i have same doubt, can you upload an example with class component

[2020-01-29 09:28] ngmiduc commented on #87
I don't really understand your solution. Did you find a way to prevent rerendering in ToastProvider ?

[2020-01-29 20:07] kjr247 commented on #87
I'm in the process of moving all of our code out to a dumb component.
It will take time, but I think this is my fix. It wasn't super obvious because I wasn't super familiar with using hooks at the time.

As I was moving it all out I discovered that the developer who added it directly to the RouteGaurd.tsx class component had already created a placeholder dumb component somewhere with a todo to mov

[2020-01-31 22:53] idangozlan opened #90 "No way to create multi-lined notification"
It will be nice if we could use \n, or HTML to display multiline notifications.
Maybe it already exists but no covered in the README?

[2020-01-31 22:54] idangozlan commented on #90
My bad. can be done like that:

[code]

[2020-01-31 22:54] #90 closed

[2020-02-02 23:33] jossmac commented on #88
Sounds good @DominicTobias-b1!

Please open a PR 🙂

[2020-02-02 23:39] jossmac commented on #86
Hi @burtonator, I'm afraid that this is very much a React solution, though you may find the thread on #40 helpful.

Please see [alternatives](https://github.com/jossmac/react-toast-notifications#alternatives) or perhaps [npm](https://www.npmjs.com/search?q=keywords:toast). Also, please feel free to grab any of the elements you like from this repo and create your own store + pub/sub system.

[2020-02-02 23:39] #86 closed

[2020-02-02 23:50] jossmac commented on #85
Hooks were introduced at `2.0.0` as a breaking change. You can use `1.5.x`, here's the [README](https://github.com/jossmac/react-toast-notifications/blob/114e29be946a8565892195e2bb66823654ede69c/README.md) from around that time.

[2020-02-02 23:50] #85 closed

[2020-02-02 23:52] jossmac commented on #82
@mathieutu great find, thank you! Just waiting for that PR to land

[2020-02-02 23:54] jossmac commented on #80
Yeah, this would be nice. I'll have to find some time to tag the appropriate commits.

[2020-02-02 23:55] jossmac commented on #76
Resolved by #79

[2020-02-02 23:55] #76 closed

[2020-02-03 00:00] jossmac commented on #89
Hi @lapongua, that's the demo code...

Could you provide a reproduction in [CodeSandbox](https://codesandbox.io/)? Otherwise I'll have to close this issue.

[2020-02-03 10:15] ngmiduc commented on #87
Eventually, I think that is a werid behaviour. I am struggling a bit myself. Why does the entire App rerenders when the toasts appear and disappear. As you said, all the data will be reset. That is kind of bizarre, since it would be cool if the state can remain while adding and removing toasts.

Someone has other thoughts ?

[2020-02-05 01:32] jossmac commented on #87
@ngmiduc are you also replacing the default components? That could explain the re-render that's potentially causing children to unmount/remount.

[code]

[code]

[2020-02-07 09:55] leonvisscher opened #91 "Feature - More extensibility DefaultToast Component"
Awesome library! Like the plug-and-play a lot.

I have a feature request. I'd like the [DefaultToast component](https://github.com/jossmac/react-toast-notifications/blob/master/src/ToastElement.js) to be a little more extensible.

I like all default functionality like the onMouseOver timer stop. I'd only like to manually pass a background color (different then predefined error, succes, ...), heigh

[2020-02-07 11:50] sergiop commented on #91
@leonvisscher, if it's only a matter of Style, you can use the provided CSS classes on the DefaultToast component.
For other things, I agree with you. I'd like to customize the close button, hiding the "X" icon, adding a "speaking" button, like "Close me". But I can't do it without a fully customized Toast component.

[2020-02-07 11:59] sergiop commented on #85
In the newer versions you can still use the HOC:
[code]
Hope this helps.

[2020-02-07 12:57] sergiop commented on #91
Anyway... in the meantime, I found a way to add a custom close button using the DefaultToast component. 😉

[2020-02-07 15:14] sergiop opened #92 "Move units from px to rem."
Hi @jossmac, first of all, my compliments for this project.
I've seen all the units are in PX. This is a truly limiting notion and I would move to REM to allow us to use this module also on modern responsive projects.
What do you think? If I send you a PR, will you take it into consideration?

[2020-02-12 18:53] yale commented on #14
@jossmac This is great! However I think the Typescript types have not been updated to reflect this, so I'm getting a ts error when trying to use the `className` prop on the `DefaultToastContainer`:

[code]

I'm using `// @ts-ignore` right now to get around this.

[2020-02-24 04:14] jossmac commented on #14
@yale if you'd like to submit a PR, I'll take a look at it.

[2020-02-24 04:48] jossmac commented on #92
Hi @sergiop, thanks for the kind words.

I'm not really comfortable moving to rems. It would be a breaking change to the lib because we can't guarantee a consistent root font-size for every consumer, which would lead to unexpected results.

You can however style your implementation however you like 🙂

[2020-02-24 04:48] #92 closed

[2020-02-24 08:52] sergiop commented on #92
I understand that it would be a big change (under the hood perhaps), but I'm not sure it would be a breaking one. In the end, the majority of the users are using this module with the default root-font size, 16px, if we remap 16px to 1rem, this means that nothing will change for all of them. But moving to REM allow who use this module in a modern project to bring out the best from it.

A further no

[2020-02-24 08:58] sergiop commented on #92
About the unexpected results, you can drive the transition from px to rem with a prop, something like `rootFontSize`, expressed in PX, to fix the px to rem conversion for those projects don't need this feature.

[2020-02-24 11:49] sergiop commented on #92
On second thought, you can give to `rootFontSize` the default value of `16px`, this guarantee 100% of backward compatibility and allows who wants to unlock rem power to set it to `1rem`.

[2020-02-24 21:41] yale commented on #14
@jossmac Opened #93. Thank you!

[2020-02-26 12:44] Lukortech opened #94 "Specific node/ element_id to let toast to be injected into"
Hello, I am currently working with the library and I find it rather interesting that there's no simple way to inject the toasts into SPECIFIC node other than end of the body.

If I may say so, it'd be highly useful for me to be able to inject it into let's say `<navbar id="toasty"/>`.

If there's already a way to do so, I am very sorry to bother.

[2020-02-27 15:29] impulse commented on #76
@jossmac I still have this issue on 2.4.0
OS: macOS 10.15.3 19D76 x86_64
Chrome: Version 80.0.3987.122 (Official Build) (64-bit)

[2020-03-04 08:48] DominicTobias-b1 commented on #64
@Vivek205 when you say you did it through the toast stack, how are you plugging that function into the lib?

[2020-03-12 14:57] jcloutz-radix commented on #76
@jossmac I am still getting this error as well. It looks like the currently published npm package does not contain this fix. Can you push a new release?

[2020-03-12 21:46] lvwrence opened #95 "Toast disappears and then reappears on first load and after changing routes"
Hiya, thanks for this awesome library! Everything works great so far, except this small UI issue where it seems like on the first notification shown on the page and after changing routes, the toast briefly zooms to the right and then shows up correctly. Here's a GIF showing what I mean:

![Mar-12-2020 17-43-33](https://user-images.githubusercontent.com/963922/76569302-29a1fb00-6489-11ea-8ada-92286

[2020-03-12 23:13] lvwrence commented on #95
ok so that was happenign when transitionState === 'exited', seems like it was already there and trying to rush to the entry point state?

I made a custom component that checked for transitionState === 'exited' and return null in that case.

[2020-03-12 23:13] #95 closed

[2020-03-16 13:59] Seanmclem commented on #76
@jcloutz-radix are you also on a Mac?

[2020-03-16 14:04] jcloutz-radix commented on #76
@Seanmclem i am using mac and windows, there was no difference. In the published NPM package it's still `overflow: scroll`.

[2020-03-16 14:58] HVish commented on #24
I would like to suggest following type declarations for HOC: `withToastManager()`

[code]

[2020-03-19 09:50] NeliHarbuzava commented on #85
How to use it? Where we can find the docs?

[2020-03-19 10:31] NeliHarbuzava commented on #85
I found docs here, in old Readme version: https://github.com/jossmac/react-toast-notifications/blob/114e29be946a8565892195e2bb66823654ede69c/README.md

[2020-04-16 08:13] IrtazaHussain1 opened #98 "How to use toast notification in class component"
Hi, I am new to react and want to use this react notification in my project. I am using the class base component and all tutorials and doc are on function base component and using hooks. I there anything you guys can guide me on how to use addToast Hook in class base component.

[2020-04-16 08:39] zohaibijaznbs commented on #98
@IrtazaHussain1 Here is how you can use this with class components by creating a higher order comonent
[code]

[2020-04-16 08:44] IrtazaHussain1 commented on #98
thanks

[2020-04-16 08:48] IrtazaHussain1 commented on #98
@zohaibijaznbs  this error I am facing
"The `useToasts` hook must be called from a descendent of the `ToastProvider`."

[2020-04-19 09:30] mohsinht opened #99 "Add Toast using Redux Actions"
I'm not sure if its already done but I cannot find anything related to Redux in the documentation.

I'm looking for a solution where I can invoke '`addToast(content)`' using Redux Actions. For example if I'm fetching data then the toast must display '`loading'` state and then  `'success'`/`'failure'` on response.

[2020-04-24 21:41] armenzest commented on #99
+1. I've been trying to see if theres a way to do this as well.

[2020-04-25 13:35] shahajimbhosle opened #100 "TypeError: Object(...) is not a function"
I am getting error "TypeError: Object(...) is not a function" when I add line   "const { addToast } = useToast();" to my component.

"dependencies": {
    "@testing-library/jest-dom": "^4.2.4",
    "@testing-library/react": "^9.3.2",
    "@testing-library/user-event": "^7.1.2",
    "axios": "^0.19.2",
    "react": "^16.13.1",
    "react-dom": "^16.13.1",
    "react-router": "^5.1.2",
    "react-ro

[2020-04-29 04:26] pablo-abc commented on #95
I am having the same issue whenever an element containing [react-textarea-autosize](https://github.com/andreypopp/react-textarea-autosize) is present anywhere on the page.

Here's a [reproduction on codesandbox](https://codesandbox.io/s/textareaautosize-issue-ih86q?file=/src/App.js). You'll notice that if `<TextareaAutosize />` is present, it behaves like in your example. If you remove that line i

[2020-04-30 01:09] jossmac commented on #98
@IrtazaHussain1 you must wrap your app with the `ToastProvider` to have access to it's context elsewhere within your app.

https://github.com/jossmac/react-toast-notifications#use

[2020-04-30 01:09] #98 closed

[2020-05-01 03:42] bluedusk opened #102 "How to make it work in ie11"
Hi Guys,

Does anyone knows how to make this work in IE11?

Thanks

[2020-05-05 19:41] mikos opened #103 "Can a toast trigger its own removal?"
I'm rendering a component within a Toast and would like to be able to remove the Toast under certain conditions for example, when a button is clicked or when an action has completed.

[2020-05-05 22:20] olivierlemasle commented on #82
@jossmac https://github.com/reactjs/react-transition-group/pull/559 got merged today; upgrading to [react-transition-group version 4.4.0](https://github.com/reactjs/react-transition-group/releases/tag/v4.4.0) should remove the error message.

[2020-05-11 18:22] supermonkeybrainz opened #104 "Export ToastElement?"
It looks like `ToastElement` provides the majority of the functionality I want, particularly the transition and mouse events.  Could we just export that?  I don't want anything the `DefaultToastElement` exports, just the `ToastElement`.

[2020-05-11 18:44] supermonkeybrainz commented on #104
If I am granted permission, I can create a pull request for this.  Literally just adding an `export` before the `const ToastElement` in `ToastElement.jsx`.  The library is great, just want to be able to show _only the element I pass_.  Then things would be perfect!  Let me know if this is possible.

[2020-05-11 18:47] supermonkeybrainz commented on #104
Would be even better if we could get rid of the text/background class styles on that container.  Can work around that, but would be awesome if we could drop those too (move to a wrapper around `DefaultToast`?).

[2020-05-12 20:43] ImSolitude opened #105 "pauseOnHover: false is ignored"
I am not sure what I'm doing wrong, I have as simple as this toast,

![usetoast](https://user-images.githubusercontent.com/20565199/81743099-ce50b100-94a9-11ea-9702-1ec950b5f58a.png)

I am using custom `Snack` on `<ToastProvider/>`,

`components={{ Toast: Snack }}`

And this my custom one,
![snack](https://user-images.githubusercontent.com/20565199/81743279-18d22d80-94aa-11ea-9014-40da86c62c51.png

[2020-05-12 23:09] indigoviolet opened #106 "Toast component should receive its `id` as prop"
Thanks for this library.

I noticed that you support setting `id` via `addToast`, but for some reason (because it's pulled out as `key` in `ToastController`) it isn't passed into the `Toast` component. Having this prop would make it easier to use `removeToast` from within the Toast component, for example to dismiss it on button click.

Currently the slightly ugly work around is to set `id` as well

[2020-05-13 13:44] mikos commented on #106
This would help me with #103.

[2020-05-13 18:31] indigoviolet commented on #106
@mikos, you can already use the workaround that I suggested to resolve #103.

[2020-05-15 04:14] indigoviolet commented on #106
I also realized today that the typescript types for `addToast` don't mention `id`, or `customId` (or `autoDismissTimeout`) even though these work; and that `ToastProps` doesn't allow for `customId` to be passed in. Had to patch all these :vomiting_face: locally

[2020-05-19 18:40] baileyandy opened #107 "Double transition on entering"
I think a problem was introduced when `v2.2.0` was released. The `exited` state [was changed](https://github.com/jossmac/react-toast-notifications/commit/d625884e54f982e3300a9534092e8213c3ec283a#diff-0c3eb24376976060f84d9e4eb5e987dfR173), from a calculated transform to a hardcoded `{ transform: 'scale(0.66)', opacity: 0 }`.

This manifests as a subtle animation issue when adding a Toast. According

[2020-05-20 22:24] brettinternet commented on #106
I am able to invoke `onDismiss` passed from `ToastProps` in my custom `Toast` component without passing in an `id` as a parameter and it does indeed dismiss the toast.

[2020-05-20 22:29] brettinternet commented on #105
I don't think `pauseOnHover` is an [acceptable option](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/864d6f31b9278a83e9c9af3de0a720e2e6246f19/types/react-toast-notifications/index.d.ts#L61-L65).

Please consider using code blocks instead of images for the sake of search and readability.

[2020-05-20 23:04] indigoviolet commented on #106
@brettinternet that makes sense - I didn't notice that parameter / realize that I could invoke it to dismiss. Perhaps this suggests an improvement to the docs, but besides that I think this issue can be closed.

[2020-05-21 00:26] brettinternet commented on #107
I noticed this as well and with heavy re-renders it becomes noticeable. A workaround I'm using is to add `transition-property: none;` when `entering` is active to disable transition times while entering is applied.

[2020-05-21 00:29] jossmac commented on #106
@indigoviolet please feel free to provide a PR with docs changes

[2020-05-21 00:29] #106 closed

[2020-05-21 00:33] jossmac commented on #103
The `addToast` method takes a third callback argument, you could use that. The `addToast` method also returns the `id` of the created toast.

Maybe checkout the ConnectivityListener's implementation: https://github.com/jossmac/react-toast-notifications/blob/master/examples/src/ConnectivityListener.js

[2020-05-21 00:33] #103 closed

[2020-05-21 00:36] jossmac commented on #105
@ImSolitude You're not doing anything wrong. I removed the option to disable pause on hover, because it would create a really bad user experience

[2020-05-21 00:36] #105 closed

[2020-05-21 00:41] jossmac commented on #104
@supermonkeybrainz could you describe the problem you're trying to solve?

[2020-05-21 00:44] jossmac commented on #82
@mathieutu @olivierlemasle I'm pretty jammed up with client work right now, happy to checkout a PR though

[2020-05-21 00:49] #89 closed

[2020-05-21 00:55] supermonkeybrainz commented on #104
I want to be able to display a generic toast element.  One with no preconceptions of how it should look.  I want the animations/placement/timeout/close behaviors, but I don't necessarily want the library to define anything beyond an empty container in which to render my own component.

Specifically, I need to integrate with Carbon Design System using their notification styling:  https://react.carb

[2020-05-21 04:29] brettinternet commented on #103
@jossmac [I see](https://github.com/jossmac/react-toast-notifications/blob/c7d29510af63abd39537336a1a4be53367228dd2/src/ToastProvider.js#L120). We might update [the return type here](https://github.com/jossmac/react-toast-notifications/blob/c7d29510af63abd39537336a1a4be53367228dd2/index.d.ts#L63).

[2020-05-22 11:39] brielov opened #109 "Make it work on Strict Mode"
I'm using react-toast-notifications inside react's `StrictMode` and I get the following error:

`Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of Transition which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://fb.me/react-strict-mode-find-node
    in div (created by Cont

[2020-06-02 14:11] paolocattani commented on #99
any updates ?

[2020-06-02 16:45] gadiGuesty commented on #99
One solution could be passing the hook to your action:
`const ConnectedComponent = () => {`
  `const { addToast } = useToasts();`
 `const dispatch = useDispath();`
 `const handler = () => dispatch(myAction(addToast))`
`return<div>...`
`}
`

`const myAction = (addToast) => {
addToast(...)
return{
...
}
}`

[2020-06-04 09:30] #109 closed

[2020-06-04 09:32] brielov opened #112 "How to add a toast from outside react component?"
Hi, I don't know if it is possible, but it would be nice to add toast notifications, in my case, from apollo link error.

[2020-06-07 15:37] pdugan20 opened #114 "Scrollbar flashes on Firefox"
For single line toasts on Firefox, the scrollbar briefly appears when entering, and exiting.
![1](https://user-images.githubusercontent.com/1837100/83973236-d7ab1e80-a899-11ea-8b64-a66b41664fee.gif)

I can fix this by overriding the class manually with:
[code]

It looks like there have been some issues filed here in the past? Looks like it behaves as expected in Safari and Chrome.

[2020-06-08 16:50] Hainesy commented on #99
I've resorted to adding messages to global state in redux then have a component that subscribes to those.

[code]

[2020-06-12 08:36] mrcnk commented on #82
@jossmac here it comes: https://github.com/jossmac/react-toast-notifications/pull/116

[2020-06-12 21:04] rohanx96 commented on #104
Yeah, I need to customise the look of the toast as well. I feel it limits the usage of an otherwise great library. Exporting `ToastElement` should be a quick fix to allow customising the entire look of the notification rather than just the message content.

[2020-06-13 17:44] jasondana commented on #82
@mrcnk I could be wrong. But, I'm not sure changing the react-transition-group version is all that is necessary. I had been force updating the dependency version and was still receiving the warning. I took a look at it today and tried my hand at creating a patch to fix it completely. I don't want to overstep, so I have not submitted a competing pull request.

I found the error remained, even after

[2020-06-16 04:18] ptsteadman commented on #99
This library might be a better fit fo this use case, or a reference for implementing a redux wrapper for this toast system: https://www.npmjs.com/package/react-notification-system-redux

[2020-06-16 06:27] gadiGuesty commented on #99
You might consider use [react-toastify/](https://fkhadra.github.io/react-toastify/) which has event emitter as it's mediator and is not dependent on React context api.

[2020-06-17 09:13] brillout opened #118 "Financing"
Hi :wave:,

I'm Romuald from the [Lsos](https://lsos.org/), an organization that develops financial solutions for open source projects, and we are currently doing outreach to projects we like.

One of our solutions is the [Lsos Commons](https://lsos.org/#lsos-commons) which I believe could fit; is that something React Toast Notifications would be interested in?

If not I'm sorry for having opened

[2020-06-25 20:21] willsoto opened #120 "Create a new release?"
There have been quite a few useful improvements (including native typings) that would be nice to have published. Here is the diff between the last release `v2.4.0` and now: https://github.com/jossmac/react-toast-notifications/compare/86083a5..master

[2020-07-03 05:48] minimaluminium commented on #52
@jossmac It's also reproducible on a Mac by selecting `Always` in `General > Show scroll bars` in System Preferences. Here is [a little screencast](https://www.dropbox.com/s/dxf2xhrs4wjpsgy/react%20toast%20scrollbar%20issue.mov?dl=0).

[2020-07-03 06:16] minimaluminium commented on #114
Seems like the issue was fixed by #79, but an older version was installed with npm. Maybe the npm version is outdated?

[2020-07-03 10:57] pdugan20 commented on #114
Seeing this on 2.4.0. Running Firefox on Mac.

[2020-07-03 12:57] sebastianserrano commented on #114
Same issue here on package version 2.4.0 and Firefox 77.0.1 (64-bit) on Mac

[2020-07-03 22:15] brillout commented on #118
We developed a new solution: the [Lsos Donation Fund](https://lsos.org/fund). Unlike the Lsos Commons, the Lsos Donation Fund doesn't alter your license and everything stays free; the donation fund collects donations on your behalf and uses a "donation-reminder".

We estimate the donation-reminder to substantially increase donations. Sublime Text, for example, achieves impressive results using a s

[2020-07-08 17:58] EdwardNelson commented on #107
I am having this issue too

[2020-07-09 04:01] CicheR commented on #112
I used a simple approach: _**passing the hook instance** to the place where the notification should be raised_

You can do it in many ways, the simplest ones could be:
- As a _parameter_ (which can be tedious and error-prone if you have to add the parameter in many places)
- As a _module variable_ (or any other _global_ mechanism)

In my case I did it with a variable in the module from where I wan

[2020-07-09 07:22] CicheR opened #121 "Notifications overlapped (z-index of notifications__container fixed to 1000)"
Issue:
![image](https://user-images.githubusercontent.com/46723276/87008207-8d9fba80-c202-11ea-97db-7a259fd0c1f1.png)

In my case I solved it by simply overriding the `react-toast-notifications__container` class:
[code]

---

Would it be useful to have the possibility to customize the `z-index`? (It could be in a ToastProvider property, for example).
If so, I could make the change and generate a p

[2020-07-15 20:30] GxDesign opened #122 "Toast should receive its ID"
This is similar to https://github.com/jossmac/react-toast-notifications/issues/106 except my goal is not to dismiss the toast. I'd like to access the toast's ID because Im using a custom component for Toast and need to check, from another component, whether it is visible in the DOM.

Could you please make the ID available as a prop to a custom Toast component?

[2020-07-24 19:36] jjoker0110 opened #124 "Fetch callback"
I'm newer to react so maybe I am overlooking this or not understanding but I'm trying to add a toast on a fetch callback but when I try to reference useToast inside a react component I get an invalid hook call. I can get it to work fine when I reference it outside the component and then add it in under the render function. I could just use a little push in the right direction. Thank you

[2020-07-25 19:49] jjoker0110 commented on #124
Nevermind, I figured it out using "withToastManager"

[2020-07-25 19:49] #124 closed

[2020-08-03 02:14] jeremym commented on #121
I just attempted to use this library and had the exact same issue.

Looking through the code, it would be pretty simple to add a zIndex property to the typescript type `ToastContainerProps` and pass that property down through the ToastProvider like you had mentioned.  All of 6 lines of code.  It may not be worth the effort though since there hasn't been an update to this repo for six months.

[2020-08-03 02:33] CicheR commented on #121
Yep... the repo looks like abandon 😐

[2020-08-05 10:32] Hainesy commented on #82
Is there any update on this issue? Being bombarded with these findDOMNode errors.

[2020-08-11 19:26] s-h-a-d-o-w commented on #114
It also happens on https://jossmac.github.io/react-toast-notifications/ (Chrome 84.0.4147.105)

![Peek 2020-08-11 21-24](https://user-images.githubusercontent.com/16936908/89940013-2a49e380-dc19-11ea-96f7-fd9abaff2c30.gif)

[2020-08-14 09:36] brielov commented on #112
@CicheR Thanks, that looks good!

[2020-08-14 09:36] #112 closed

[2020-08-19 02:34] ngc2392 commented on #114
Anyone having this issue on Chrome? I'm seeing the scrollbars when I position the toasts 'bottom-center'. I'm using Version 84.0.4147.125 (64-bit) on Mac.

[2020-08-25 10:59] mikkhimself opened #128 "dataPersistenceLayer is not defined"
Awesome work on the project
Im using the example code which can be found on the docs however I'm getting
`dataPersistenceLayer is not defined`

With the following code:

[code]

Is there something I'm missing?

[2020-08-25 12:34] #128 closed

[2020-08-26 19:11] arosiclair commented on #104
I'd also very much like to re-use the transition functionality from ToastElement without having to copy the source.

[2020-08-28 13:20] ericblade commented on #99
FWIW, @Hainesy 's solution seems to work pretty well.  I've implemented that along with an action that adds to the toast list, and an action that erases the toast list.  Areas for potential improvement in that solution would actually include clearing the list immediately after adding the toasts, and/or ensuring you never add the same toast twice with some sort of serial number on them.

I think id

[2020-09-01 21:03] cameronwlewis commented on #82
+1.  This has been a frustrating issue :(

[2020-09-02 13:21] brussev commented on #87
Hey @ngmiduc,
I have the same issue and I couldn't fix it with your proposal. On show/hide there is one more re-render on the app.
Do you know what else can cause the re-rendering the app on show/hide?
I am using version `2.4.4` of `react-toast-notifications`
![Screenshot 2020-09-02 at 16 18 34](https://user-images.githubusercontent.com/45165261/91988461-f5bcd980-ed37-11ea-8f1a-34ed9c2f3ed8.png)

[2020-09-02 23:21] latanoel commented on #87
Has anyone been able to solve this? I'm facing the same issue. Entire app re-renders whenever toast appears or disappears.

[2020-09-03 11:35] neerajkhaturia commented on #121
I am facing the same issue. Is there a way I can update the z-index otherwise I have to use some other library and make changes across the application. Any inputs that you can provide will be greatly appreciated. Thanks.

[2020-09-10 17:48] Djcharles26 commented on #94
Very nice idea, any approach when we could get this?

[2020-09-10 19:45] Lukortech commented on #94
I was thinking about inserting an options object with a structure like {injectInto:'<elementID>'} so it would be more configurable.

When mounting the toast it would just spread the options  in the newly formed/ injected component.

I am sorry, but it's been a while since I've worked with it :)

[2020-09-26 08:05] robba86 opened #130 "Any examples or better documenation on `updateToast` and how to use it?"

[2020-09-26 08:15] robba86 commented on #130
Is this correct? :)

https://codesandbox.io/s/toastupdate-h0fm6

[2020-09-29 15:50] martinnemec3 commented on #87
I had a similar issue - when I added a toast the content of my <Route> component was re-rendering. After some time of playing with the code I found that it happens only when my route content is defined via the component parameter function.

When I switched to definition via the JSX tag content, it started to work and the re-rendering disappeared.

so previously I had something like:
`<Route exact

[2020-09-30 03:08] Relatora commented on #68
well I add the following code to the css with no effect, any ideas?
`.toast-container{
  font-size: 2em;
}
`

[2020-10-19 10:35] sumdook commented on #107
This is especially visible when placement is bottom-center.
Is there a workaround for this?

[2020-10-19 12:22] baileyandy commented on #107
We use [patch-package](https://github.com/ds300/patch-package) to patch the latest version back to the working code

Patch snippet:

[code]

[2020-10-20 13:09] Hainesy opened #132 "Customize styling"
I would like to customise the styling and palette of the toasts but can't see any way to achieve this. Is it possible?

[2020-10-20 15:31] HaiderShahid commented on #121
@CicheR can you please share the complete code class on how you override it. I am new to react I am not able to find how to override styles for an imported class. Any article or tutorial would also be alot of help.

[2020-10-20 22:00] brettinternet commented on #107
I [rewrote the library in TypeScript](https://github.com/brettinternet/react-cooked-bread) and I've separated the transition group and content components out to make extending the library much easier (or use the provided defaults). I welcome PRs.

[2020-10-21 01:02] CicheR commented on #121
Just put the `css` code I mentioned above code in any style file accesible to the control or or inline in the page.

Check the basics:
https://www.w3schools.com/html/html_css.asp

[2020-10-24 12:36] Waqqars987 opened #133 "Is it possible to use this library outside a React Component?"
Hi,

I want to use the library where I use my axios interceptors to detect API responses. Its outside any React Component, hence I am unable to use this library there (rule of hooks). Is there any workaround for this?

[2020-10-27 18:28] csandman commented on #107
I am having this issue as well. When I took a video and slowed it down, it looks like it starts in the position its supposed to end on except small, slides out and then slides back in.

[2020-11-01 13:40] kalmndo commented on #133
yes i also had that problem, i use it outside the React component.
it doesn't work, the toast doesn't showed up.

[2020-11-04 22:54] smith-it commented on #82
Any update on this?

[2020-11-09 14:29] AugustBemsen opened #136 "Cannot read property 'bg' of undefined"
I attached the Toast to a modal that makes a payment, the toast should appear when the use close the modal and cancel a payment, But i got this error instead
![image](https://user-images.githubusercontent.com/54921134/98553860-59b3cf00-22a0-11eb-86a4-431b74f20955.png)

[2020-11-09 19:44] razgraf commented on #82
For everyone still experiencing this, @jasondana had a really good answer [here](https://github.com/jossmac/react-toast-notifications/issues/82#issuecomment-643655257) (for me, only bumping the library version didn't do the trick either). Until the PR gets merged, you could fork a private copy and use that version.

Also, for those using Functional Components, there might also be an issue with `fo

[2020-11-10 13:54] danaugrs commented on #122
I think the user should also be allowed to provide the toast an ID.
In some cases we want a toast to be shown **at most once**. If a toast has an ID specified by the user and a toast with the same ID is added, instead of adding another toast the library should reset the original toast's dismiss timer.

[2020-11-11 08:26] wacanam commented on #82
issue still occur.

[code]

[2020-11-12 03:46] coddingtonbear commented on #136
Just by the way @AugustBemsen  -- I think this is the issue you're running into: https://github.com/jossmac/react-toast-notifications/issues/23

[2020-11-14 02:50] pA1nD commented on #82
@wacanam check out the repo from @jasondana above! This one actually works fine.

I've use this repo and made a small change so you can directly add it in your npm modules folder.

It is currently up to date with this repo, but I will not update it. Instead you should check, once the issue has actually been fixed.

### Here is how to use it:

In your `package.json` and find the `react-toast-notifi

[2020-11-17 17:57] Beej126 opened #137 "[enhancement] click anywhere in toast body to close"
it's a handy feature i've seen in other toasters.
would be good if it was optional.

[2020-11-18 09:40] sunviwo opened #138 "Position toast in the center of the screen"
Can toast be positioned in the center of the screen?

[2020-11-23 16:05] asoutheastasiandessert commented on #138
We have the same issue.

[2020-11-25 04:13] rafaelspaesleme-ads opened #140 "My modal is overriding the react-toast-notifications notification pop-up"
I wonder if there is any solution to the problem attached.
When I activate the notification, within a modal, it appears behind the modal. See the image:

<img src='https://dev-my-blog.s3-sa-east-1.amazonaws.com/bug-do-milenio.png' alt='bug'/>

I would like to know if you could put something like, a position absolute, how do you use it in css to put an html tag in question, in full evidence?

I loo

[2020-11-25 04:23] jossmac commented on #140
Please see issue #45

[2020-11-25 04:23] #140 closed

[2020-11-25 04:26] rafaelspaesleme-ads commented on #140
Thank you!

[2020-11-25 04:34] jossmac commented on #138
The [available placements](https://github.com/jossmac/react-toast-notifications#toastprovider-props) are documented, so you could place the toast `'bottom-center'` or `'top-center'`.

If the desired placement is right in the middle of the viewport you could [replace the `ToastContainer`](https://github.com/jossmac/react-toast-notifications/blob/master/README.md#replaceable-components) component.

[2020-11-25 04:35] jossmac commented on #137
You could implement this by [replacing the toast component](https://github.com/jossmac/react-toast-notifications/blob/master/README.md#replaceable-components) with your own.

[2020-11-25 04:35] #137 closed

[2020-11-25 04:37] jossmac commented on #136
The [above comment](https://github.com/jossmac/react-toast-notifications/issues/136#issuecomment-725810987) should resolve the issue.

Please comment if you need this reopened.

[2020-11-25 04:37] #136 closed

[2020-11-25 04:40] jossmac commented on #133
Please see issue #40, which goes into detail about this concern, how it may be resolved and why it will not be a supported feature.

[2020-11-25 04:40] #133 closed

[2020-11-25 04:47] jossmac commented on #132
For style tweaks the easiest way is probably to target classnames e.g. `react-toast-notifications__toast__content`. If you want to alter the markup you can [replace the component](https://github.com/jossmac/react-toast-notifications#replaceable-components) with your own.

[2020-11-25 04:47] #132 closed

[2020-11-25 04:52] jossmac commented on #118
Hi @brillout, that sounds like a great initiative! Thank you for considering this project.

My problem is more that I'm time-poor (if you can't tell from this _very_ delayed response 😅). These days I much prefer to spend time with my family and friends than do open-source work, when i'm not at my full-time job.

[2020-11-25 04:52] #118 closed

[2020-11-25 04:58] jossmac commented on #122
Sorry folks, this is just poorly document. You can [provide an ID](https://github.com/jossmac/react-toast-notifications/blob/master/src/ToastProvider.js#L103) to a given toast.

[2020-11-25 20:46] jamesthesken commented on #124
Hey @jjoker0110 could you provide a snippet for your solution? I'm having a similar issue.

Thank you

[2020-11-25 23:06] jjoker0110 commented on #124
Hey @jamesthesken, it looks like you need to wrap the component in withToastManager. So something like this:
[code]
Then just call testToastMsg("hello world!") with some message and that should work.

Hope that helps!

[2020-11-25 23:21] jossmac commented on #124
For clarity; the issue here is trying to use hooks within a class component. From the [React Hooks FAQs](https://reactjs.org/docs/hooks-faq.html#should-i-use-hooks-classes-or-a-mix-of-both):

You don't _have to_ use the higher order component, you can still use the hook and pass its value into the class component yourself.

[code]

[2020-11-26 06:01] asoutheastasiandessert commented on #138
Hi Joss, I believe it is due to the minimum width set to 300px, causing phones with a narrower mobile view to have the toast notifications truncated.
https://user-images.githubusercontent.com/73132254/100313487-b4169480-2fef-11eb-8c1b-37523e2282a6.png

[2020-11-26 06:06] jjoker0110 commented on #124
Ah, that helps, thank you @jossmac

[2020-11-26 06:06] asoutheastasiandessert commented on #138
I think it would be good if you can set 80% width of the screen (80vw) and have a maxwidth of 300px.  https://user-images.githubusercontent.com/73132254/100313697-1b344900-2ff0-11eb-9e18-8c69210cf672.png)

[2020-11-26 08:34] jossmac commented on #138
@asoutheastasiandessert you can target the toast with the class `react-toast-notifications__toast`

[2020-11-26 08:49] applelok commented on #122
@jossmac May I know if this enhancement released?
I tried to install `react-toast-notifications` 4.2.0, but I found the `Options` is still missing "id" attribute:

`
export interface Options {
    appearance: AppearanceTypes;
    autoDismiss?: boolean;
    onDismiss?: (id: string) => void;
}
`

[2020-11-29 09:47] sunviwo commented on #85
Please make HOC available in new versions too. Thanks in advance

[2020-11-29 13:37] sergiop commented on #85
@sunviwo is still available:
https://github.com/jossmac/react-toast-notifications/blob/e1607a56676dd6b7711ef3744270dee5c42933cb/src/index.js#L6

Take a look into the old readme to understand how to use it 😉

[2020-11-29 16:19] sunviwo commented on #85
Thanks @sergiop. I just tried it and it worked like a charm. :)

[2020-12-02 02:09] Beej126 commented on #137
here's a sample typescript implementation in case it helps anybody else:
[code]

[2020-12-08 21:42] jossmac opened #142 "Alternatives, for use with Redux"
- [Reapop](https://github.com/LouisBarranqueiro/reapop)
- [react-hot-toast](https://github.com/timolins/react-hot-toast) (i think)

[2020-12-13 06:51] sharunspi commented on #100
are you trying to add the code in Class-based component?

[2020-12-14 22:06] DaleyKD commented on #114
I see this issue on https://jossmac.github.io/react-toast-notifications/ with Chrome 87.  Turn off auto-dismiss, add quite a few, then delete the last one.

I THINK? I can work around the issue for my needs by setting the CSS of the `css-3y3n1b` (I know it's random) to include `bottom: 0`

[2020-12-15 01:20] jossmac commented on #114
@DaleyKD avoid targeting generated class names, they will change.

[2020-12-15 01:45] DaleyKD commented on #114
Yeah, I know. Was just using it as an example. I was just messing around on
the example site without getting into the code yet.

Thanks for the good looking out, though!

On Mon, Dec 14, 2020, 7:21 PM Joss Mackison <notifications@github.com>
wrote:

[2020-12-15 07:36] robertn702 commented on #138
FYI the following appropriately fixed the width on smaller screens (e.g. iPhone 5)

[code]

[code]

[2020-12-15 22:11] jossmac commented on #99
Ref #142

[2020-12-15 22:11] #99 closed

[2020-12-15 22:13] jossmac commented on #63
Ref #142

[2020-12-15 22:13] jossmac commented on #55
Ref #142

[2020-12-15 22:13] jossmac commented on #40
Ref #142

[2020-12-16 00:37] agrohs commented on #46
What commit/PR was this update made in??

[2020-12-16 15:22] geekdaniels commented on #142
Great, I'll look into that. Thanks.

[2020-12-17 06:16] kayesn786 opened #145 "[Question] Any example of how to use it with class based components?"
Is there any documentation on class based components?

[2020-12-20 21:54] jossmac commented on #145
Take a look at [this comment](https://github.com/jossmac/react-toast-notifications/issues/124#issuecomment-733988089) - you can resolve the hook, then pass on its value to a class component

[2020-12-20 21:54] #145 closed

[2020-12-29 13:15] huseynm opened #146 "Is there any example that how to use replaceable components?"
[code]

[2020-12-29 19:48] miliu99 opened #147 "How to make it show up in fullscreen mode?"
It shows in regular screens, but I couldn't make it show up in fullscreen mode - did I miss any options or is it not supported?

[2020-12-31 19:17] Carlock1609 commented on #128
Was there a solution to this? I am also running into this issue

[2021-01-04 07:27] jossmac commented on #146
You could take a look at the [snack implementation](https://github.com/jossmac/react-toast-notifications/blob/master/examples/src/index.js#L35) from the example website, and where it's [passed to the provider](https://github.com/jossmac/react-toast-notifications/blob/master/examples/src/index.js#L251).

[2021-01-04 07:27] #146 closed

[2021-01-04 07:35] jossmac commented on #147
Just to be sure, you mean when an element has been made fullscreen using the [Fullscreen API](https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API)?

I've never tried that, but it could just be a `z-index` issue. Please provide a reproduction using [CodeSandbox](https://codesandbox.io/) if you don't resolve the issue.

[2021-01-04 07:55] jossmac commented on #128
The above is example code, so `dataPersistenceLayer` doesn't exist.

[2021-01-04 13:58] miliu99 commented on #147
Hi Joss, yes that's right.

I just created a sandbox project at
https://codesandbox.io/s/musing-frog-5v3fs?fontsize=14&hidenavigation=1&theme=dark
.

However, in this environment, the fullscreen API doesn't seem to work and I
got an error when trying to make it fullscreen.

[image: image.png]

Thanks!
Ming

On Mon, Jan 4, 2021 at 1:35 AM Joss Mackison <notifications@github.com>
wrote:

[2021-01-04 21:50] jossmac commented on #147
Thanks for that @miliu99

After some digging, appears to be by design that fullscreen elements trump stacking contexts. Knowing that now, it makes sense that elements outside of the fullscreen element will not be visible. This is because of the [portal](https://reactjs.org/docs/portals.html) used to render the toast container.

[2021-01-05 01:01] miliu99 commented on #147
Good to know...Thank you very much for the update, Joss.

On Mon, Jan 4, 2021 at 3:50 PM Joss Mackison <notifications@github.com>
wrote:

[2021-01-05 03:24] #147 closed

[2021-01-12 12:11] maapteh commented on #120
Hi, is this project dead? I was thinking about making a mocked provider to make testing of components easier but if its dead i can use my time differently.

[2021-01-17 21:54] jossmac commented on #120
@maapteh Yeah, there's other solutions now. You're probably better off spending your time elsewhere

[2021-01-19 14:44] supermonkeybrainz opened #148 "Update dependencies to support React 17"
Could we update the dependencies to allow versions of React greater than 16?

[code]

Forcing the resolution works, but is not ideal.  Thanks!

[2021-02-05 21:35] astralmedia opened #149 "Still get scrollbars on exit animation"
Using windows and chroma/brave, I am unable to get rid of the overflow scrollbars on the exit animation...any idea how to work around it? I just installed the library today, so it should be most recent.

Thanks for the awesome work!

[2021-02-06 18:54] alexsro commented on #87
I had de same issue, any solution?

[2021-02-07 18:15] alexsro opened #150 "addtoast rendering component when called in response axios"
hello, by calling the addToast within a response of the axios, it rerender the component and give the messages repeatedly.

Example code below:

[code]

[2021-02-07 23:02] jossmac commented on #150
There's a few things going on here:

- For starters, you shouldn't call a React component like a function: `ReceiveAttendances()` is invalid.
- Also, I'm not sure why you're calling `ReactDOM.render()` within a component, the JSX should be returned from the component, which will be rendered by its parent.
- Try not to create components within components, they will be recreated every render cycle o

[2021-02-07 23:02] #150 closed

[2021-02-12 17:09] natashajaved commented on #149
Yeah please help out

[2021-02-12 22:21] jossmac commented on #149
Should be resolved in `2.4.1`. Please let me know how you go

[2021-02-12 22:21] #149 closed

[2021-02-12 22:27] jossmac commented on #148
Should be resolved in `2.4.2`. Please let me know how you go

[2021-02-12 22:27] #148 closed

[2021-02-12 22:32] jossmac commented on #120
@jens-ox

Nice one!

Definitely the right direction 🚀

[2021-02-12 22:33] jossmac commented on #120
Version `2.4.1` is available with recent changes. Version `2.4.2` supports React 17

[2021-02-12 22:33] #120 closed

[2021-02-12 22:34] jossmac commented on #114
Resolved in `2.4.1`

[2021-02-12 22:34] #114 closed

[2021-02-12 22:34] #102 closed

[2021-02-12 22:35] jossmac commented on #138
Resolved in `2.4.1`

[2021-02-12 22:35] #138 closed

[2021-02-12 22:40] jossmac commented on #82
Resolved by #116 -- available from `2.4.3`

[2021-02-13 12:00] heldtogether commented on #82
I've updated to 2.4.3 but I'm still seeing the warning. Is there another step required to resolve?

[2021-02-14 02:20] jossmac commented on #82
@heldtogether

Run `yarn` or `npm install` from root?

[2021-02-14 12:44] heldtogether commented on #82
Update: see the console of this codesandbox for the warning still being present with 2.4.3: https://codesandbox.io/s/toast-c3c1j?file=/src/App.js

[2021-02-16 03:14] FLAME878 commented on #82
I am also having this issue even though I've updated to 2.4.3

[2021-02-16 21:59] jossmac commented on #82
Sorry folks, I misunderstood. Updating react-transition-group doesn't solve the issue, it just provides a workaround that can be implemented. I'll need to rewrite a bunch of stuff to support ref forwarding

[2021-02-24 16:38] gcperrin commented on #109
Why is this closed? Still an issue.

[2021-02-24 21:38] jossmac commented on #109
Duplicate of #82

[2021-03-02 13:08] damngamerz opened #153 "React Warning: Unknown event handler property `onDismiss`. It will be ignored."
Possible problem.

This basically happens when you pass a prop with a name starting with on, regardless of its case. React assumes and tries to bind it with javascript events like onClick, onKeypress, etc
Ref: https://stackoverflow.com/a/63385318

I think renaming the onDismiss should work.

[2021-03-02 21:36] jossmac commented on #153
Are you replacing the `Toast` component? It's likely that you're spreading `onDismiss` onto a DOM element.

[2021-03-02 21:45] #153 closed

[2021-03-03 20:22] tylercollier commented on #121
The solution is shared by the library author in [this specific github issue comment](https://github.com/jossmac/react-toast-notifications/issues/45#issuecomment-515818086). Basically you do what's mentioned in the README's Replaceable Components section, but instead of `DefaultToast`, use `DefaultToastContainer`.

[2021-03-04 13:44] lsbyerley opened #154 "[Question] Exporting this library, findDomNode warning, and Transition.enter errors"
I realize this is somewhat of a shot in the dark but I am just hoping someone could provide a clue as to how to solve the problem I am having. I am including this library in another library as the default toaster notification system. When attempting to use the Toaster in another project from this external library and calling `addToast()` I get this runtime error:

`Uncaught Error: Unable to find n

[2021-03-04 19:34] jossmac commented on #154
Thank you for the detailed bug report!

This is a duplicate of #82

[2021-03-04 19:34] #154 closed

[2021-03-04 19:39] lsbyerley commented on #154
@jossmac i was actually hoping to get some insight on why I am having the other error, not the findDomNode warning that has already been mentioned.

[2021-03-04 19:44] jossmac commented on #154
Sorry @lsbyerley, it's hard for me to say without a repro

[2021-03-04 21:08] jossmac commented on #154
@lsbyerley ping me if you put together a repro, and i'll reopen.

[2021-03-11 16:36] shehi commented on #142
@jossmac , are there any plans to have Redux integration in this package as well? In my Next.js app, I wrapped my main component around `ToastProvider` and all of this went inside Redux's `Provider`, but problem is I keep getting this error:

![image](https://user-images.githubusercontent.com/653569/110821352-46d1fb00-8290-11eb-8598-2a38ace57078.png)

[2021-03-11 21:12] jossmac commented on #142
@shehi No, there's no plans to integrate with Redux.

The `findDOMNode` warning is unrelated, see #82

[2021-03-11 21:12] #142 closed

[2021-03-13 09:29] Deba22 opened #156 "Placement property not working"
There may be possible issue with the placement property. When I use the below code it shows the toast notification in top-right position. I cant seem to get the toast placed at bottom-right.
[code]

[2021-03-13 09:41] Deba22 commented on #156
Got it working!
[code]

[2021-03-13 09:41] #156 closed

[2021-03-30 04:09] steelbrain opened #158 "Upgrade emotion dependency"
Hello!

Thank you for writing this! It's super-useful. One minor thing we're running into is this message with Next.js + SSR

[code]

It seems to have been fixed in v11 of Emotion, while this project is still using v10. I'm happy to submit a PR to upgrade/fix this if you want

[2021-03-30 21:02] jossmac commented on #158
Probably confirm that assumption, before making any changes. If it turns out to be true, i'm happy to take a look at a PR.

BTW I suspect this issue only arises in dev

[2021-04-11 11:11] alamm9456 opened #160 "addToast not accessible while calling on render without an event click"
addToast not accessible while calling on render without an event click  ,
To use the addToast method we need to call this on an event click like onSubmit, onClick.

addToast should also be accessible when i am just rendering it on conditional basisc

[2021-04-11 22:00] jossmac commented on #160
@alamm9456 Please provide a reproduction of the bug, or at the very least a snippet of the offending code. Without this I cannot diagnose the problem and will have to close the issue.

[2021-04-13 03:50] jmknoll commented on #107
The fix on the fork referenced above resolves this issue. Are there plans to merge the fork into the main codebase?

[2021-04-27 00:23] thegregthomp opened #163 "How to animate custom `Toast` element?"
I've created a custom Toast element and a custom Toast Container but I can't get my elements to animate. I'd like to just use the default animations but I don't want the default left icon and close button.

**App.tsx**
[code]
**ToastElement.tsx**

[code]

[2021-04-27 00:54] jossmac commented on #163
Hi @thegregthomp,

The toast component receives `transitionState` as a prop (`'entering' | 'entered' | 'exiting' | 'exited'`), which you can use to animate your toast element.

---

BTW you'll want to pluck things like `onDismiss` from props before spreading onto that div or you'll get invalid attribute warnings.

[2021-04-27 00:54] #163 closed

[2021-05-11 16:59] zkhil1 opened #167 "Cross button on Toast doesn't work if custom ToastContainer is provided."
Reproducibility: 100%

Steps to reproduce:
1. Implement a simple ToastContainer
2. Provide this to the ToastProvider.
3. Trigger a Toast and try to click on the cross icon to dismiss. It doesn't work, in fact the mouse cursor is not changed to pointer either.

https://codesandbox.io/s/interesting-wave-ssvjs?file=/src/App.js:523-637

[2021-05-12 23:06] jossmac commented on #167
You have declared `pointerEvents: 'none'` [on the container](https://codesandbox.io/s/interesting-wave-ssvjs?file=/src/App.js:321-350), this declaration is [inherited](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events#formal_definition).

[2021-05-12 23:06] #167 closed

[2021-05-14 14:22] hassanzadeh opened #168 "adjusting the height"
Hey,
I wonder if it is possible to adjust the height of toasts. My toast messages are one liners but it looks like the height is set for 2 lines.
THanks

[2021-05-24 17:33] cvjude commented on #87
I had a similar issue where my App would re-render and I'd lose all my component state
What I did was to wrap the component that would use the toast with the ToastProvider
So aside from the ToasProvider wrapping my entire app, I wrapped the component that I wanted to use the toast with, and this worked.

I think the issue may have been caused by the depth of my routing

My app component
[code]

th

[2021-05-29 15:54] alisternorris commented on #40
https://github.com/alisternorris/react-outside-call

[2021-05-29 15:54] alisternorris commented on #78
https://github.com/alisternorris/react-outside-call

[2021-05-29 15:55] alisternorris commented on #86
I created a small package to address this issues: https://github.com/alisternorris/react-outside-call

[2021-06-13 05:55] mostafa-rahmani commented on #168
Hey @hassanzadeh.
For adjusting the height you can easily create a global CSS file and overwrite the styles for the toast class. The toast CSS class is currently react-toast-notifications__toast__content. inspect the element for the exact class name.
then add CSS file into your app.js file

[2021-06-13 17:54] hassanzadeh commented on #168
Thanks Mostafa.

[2021-06-14 23:09] #168 closed

[2021-06-15 23:57] #160 closed

[2021-06-17 14:48] MohammedBenhelli opened #170 "Sometimes the toast style is'nt loaded untill page reload."
Hello, I've got a bug for few weeks and I haven't any ideas of his cause.
When a user logs out and reconnect directly the style of the toasts isn't loaded and the solution is to reload the page.
The toast appears like that:
![image](https://user-images.githubusercontent.com/62254405/122420032-a6c0f780-cf8b-11eb-951c-87860d65fcb2.png)
I've tried to test without the lazy loading and it's the same.
D

[2021-06-29 21:09] Mercury2699 opened #171 "Error Rendering in React Tests: pragma and pragmaFrag cannot be set when runtime is automatic"
The test looks like this:
[code]
I receive error:
[code]

Similar Question on Stackoverflow: https://stackoverflow.com/questions/67308174/react-tests-not-running-pragma-and-pragmafrag-cannot-be-set-when-runtime-is-au

[2021-07-02 13:46] carmoseti opened #172 "Add prop to allow reversal of the order of toast items. For instance NEWEST first e.t.c"
https://github.com/jossmac/react-toast-notifications/blob/469bd6ac4c29bed458191b193f465179139547ac/src/ToastProvider.js#L116

[2021-07-02 14:26] carmoseti commented on #172
#173

[2021-07-02 14:27] carmoseti commented on #172
See here #173

[2021-07-05 01:14] erikKeresztes opened #174 "withToastManager prop type"
when using `withToastManager`, how can i define the type of the `toastManager` prop?
[code]

[2021-07-05 06:51] #172 closed

[2021-07-07 01:05] nuel77 opened #175 "Set a max number of Toasts to be open"
A prop which takes the maximum number of toasts that is shown at a time can be really helpful to remove some clutter.

[2021-07-07 02:04] jossmac commented on #175
I think this could be potentially harmful, and **do not** recommend it. The stack could max-out at an arbitrary number stopping the user from seeing an important notification.

With that said, you can implement this yourself. It'd look something like:

[code]

[2021-07-07 02:04] #175 closed

[2021-07-07 14:24] hutber commented on #82
I believe sadly then, we'll need to avoid this repo until its fixed :(

[2021-07-27 23:41] fedecaccia commented on #82
This fix actually solves the issue https://github.com/jossmac/react-toast-notifications/issues/82#issuecomment-727132660

[2021-08-09 14:21] arleyGuoLei commented on #171
me too

[2021-08-10 06:36] amoskeyz commented on #87
This worked for me.

[2021-08-12 17:12] everdrone commented on #82
Can we merge the fix from the repo mentioned in https://github.com/jossmac/react-toast-notifications/issues/82#issuecomment-727132660?
Having a git repository as a source `package.json` might break things in the future

[2021-08-20 21:27] vouyoung-alloy opened #178 "toast break build process in bitbucket pipeline"

[2021-08-20 22:00] #178 closed

[2021-08-22 15:11] msridar commented on #170
Any update on this issue that could be useful. I get like this only on the production build.